*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body > section > div > ol.posts > a{
    display: none;
}

body {
    color: black;
    font: 1rem/1.3 sans-serif;
  }

  .content h1 {
    text-align: left;
    margin-bottom: 0rem;
}

/*   .wrapper{
    max-width: 1307px !important; 
      top: 0rem;
  }

  .container {
    max-width: 1307px !important; 
    margin: 0 auto;
} */

.container {
    max-width: 1323px;
    margin: 0px auto;
    margin-top: 5rem !important;
}
 



article {
    margin-left: 11px;
    margin-right: 11px;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 5rem;
    background: #dbdcdc;
    width: 100%;
    color: black;
    padding: 2rem;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.112rem;
    display: grid;
}

.heroh2{
    font-size: 2.9rem;
    text-align: left;
}



.breadcrumbs{
   
  margin-top: 1rem;
}

.btn-gradient{
    background: rgb(255,0,99);
    border: none;
    background: linear-gradient(90deg, rgb(67, 0, 160) 15%, rgba(71, 0, 184, 0.479) 30%, rgba(255,0,99) 100%);
  }

  .load-btn{
    width: 60%;
  }
/* SPLASH SECTION START  */

#splashsection {
    width: 100%;
    height: 80vh;
    background-image: url(/img/the-regrettes-2017-cr-Chade-Kamenshine-billboard-1548-compressed\ 1.png);
    background-position: 63% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.splashwrapper {
    position: relative;
    top: 5rem;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1305px;
    margin: 0 auto;
    
  }
  
  .splashwrapper .image {
    width: 100%;
    height: 100%;
  }
  
  .splashwrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80vh;
    background: rgba(62,3,49, 0.8);
  }
  .splashwrapper .text {
    font-family: Arial;
    font-size: 1em;
    color: white;
    text-shadow: 0.1em 0.1em 0.5em rgb(0 0 0 / 50%);
    margin: 0;
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    display: grid;
    grid-gap: 2rem;
  }


   /* SPLASH SECTION END  */

     /* post styles  */

   .small-img{
    width: 100%;
    box-shadow: 0 8px 13px 6px rgb(0 0 0 / 30%);
}

.content{
 
 /*    display: grid;
    grid-gap: 1rem; */
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
 
}

.flex{
    display: flex;
    flex-direction: column;
}

.content h4{
    text-transform: uppercase;
    font-weight: 700;
    color: #4F29F0;
}

.content p{
    width: 100%;
    display: grid;
    padding-top: 0.5rem;
}

.content hr{
    color: black;
    display: block;
    background: black;
    height: 0.5vh;
}



.single-post{
   
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-top: 1rem;
        cursor: pointer;
    
   
}



.single-post-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

}

.single-post-1{
    background-color: #FF0063;
    color: white;
}
.single-post-2{
    background-color: #3E0331;
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-style-1{
    background-color: white;
    height: 11vh;
    
}

.info-style-2 {
   
    padding: 1rem;
    height: auto;
}

.no-grid-gap{
    grid-gap: 0rem !important;
}


 .aside-left-bottom-wrapper p{
    max-width: 88%;
}

/* MEDIA QUERIES */



@media (min-width: 587px){
.single-post {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

}


   @media (min-width: 620px){
    .splashwrapper h2{
        font-size: 4rem;
        width: 62%;
        margin-left: 3rem;
        margin: 0 auto;
        text-align: center;
      }
article {
    margin-left: 33px;
    margin-right: 33px;
}

.single-post-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.single-post {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
   }

   @media only screen and (min-width: 768px) {

    .content {
     text-align: left;
     padding-top: 1rem;
     padding-bottom: 1rem;
     display: flex;
     flex-direction: column;
 }

 #splashsection {background-position: 50% 0px;
    }

    .splashwrapper h2 {
        font-size: 4rem;
        width: 80%;
        margin-left: 3rem;
        margin: 0 auto;
        text-align: center;
    }
}

   @media only screen and (min-width: 900px) {

   .content {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
   }

   @media only screen and (min-width: 1200px) {

    .wrapper{
        max-width: 1307px !important;
          top: 0rem;
      }
    
      .container {
        max-width: 1307px !important;
        margin: 0 auto;
    }

.breadcrumbs{

    margin-top: 5.5rem;
}
   

     

    .single-post{
       
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
       
    }
    
    .content h1{
        font-size: 1.4rem;
        text-align: left;
    }
    
    
     .content p {
        width: 30%;
        display: grid;
        padding-top: 2.5rem;
        padding-top: 2rem;
        float: left;
        position: absolute;
    }

    .content .single-post p {
        padding-top: 4rem;
        width: 20%;

    }
    
    .content {
        text-align: left;
        display: flex;
        grid-gap: 2rem; 
        margin-bottom: 2rem;
    
    }
    
    .flex {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .info-style-1 {
        background-color: white;
        padding: 1rem;
        height: auto;
    }

    .info-style-2 {
        
        padding: 0rem;
        font-size: initial;
        margin-top: 2rem;
        height: auto;
    }
    
    }
