#searchbar-placement{

    position: fixed;
    bottom: 0.23rem;
    transform: scale(0.8);
    float: left;
    margin-left: 0.5rem;
    z-index: 999;

}

@media only screen and (min-width: 1200px) {
    #searchbar-placement {
        position: fixed;
        top: 0px;
        bottom: 94vh;
        transform: scale(0.8);
        float: left;
        margin-left: 0.5rem;
        z-index: 999;
    }
  }

