*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* audio  */
audio{
  margin-top: 1rem;
  margin-bottom: 1rem;
  filter: invert(1);
}

/* video */

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
  margin-top: 1rem;
}
/*demotrack box */
.demotrackh1{
  margin-top: 1rem;
}
/* structure */
.container {
  max-width: 1335px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.grid-item {
  height: 380px;
  /* flex-basis: 20%; */
  flex-basis: 100%;
  width: 250px;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
}

article{
  margin-left: 11px;
  margin-right: 11px;
}
/*images*/

.midsection-image {
  background-image: url(/img/rapper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-image {
  background-image: url(/img/guitar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 71px;
}





/* SPLASH SECTION START  */

#articlesplashsection {
    width: 100%;
    height: auto;
    background-position: 41% 70px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

  
  .articlesplashwrapper .image {
    width: 100%;
    height: 100%;
  }
  
 
  .articlesplashwrapper .text {
    font-family: Arial;
    font-size: 1em;
    color: white;
    text-shadow: 0.1em 0.1em 0.5em rgb(0 0 0 / 50%);
    margin: 0;
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    display: grid;
    grid-gap: 2rem;
  }
   /* SPLASH SECTION END  */

   /* 5minuteread imgs */
   .fiveminreadwrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 0.7rem;
    margin-left: 0rem;

   }

   /*Article*/

   article p{
    display: inline-block;
    text-align: justify;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
   }


   /*MEDIA QUERIES*/
   @media only screen and (min-width: 280px) {
   #articlesplashsection {
    width: 100%;
    height: auto;
   }
  }
   @media only screen and (min-width: 320px) {

  

  #articlesplashsection {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 360px) {
  .fiveminreadwrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 27%;
    margin-top: 0.7rem;
    margin-left: 0rem;
}

#articlesplashsection {
  width: 100%;
  height: auto;
}
}

@media only screen and (min-width: 375px){
#articlesplashsection {
    width: 100%;
    height: auto;
}
}

@media only screen and (min-width: 411px) {
  #articlesplashsection {
    width: 100%;
    height: auto;
  }
}


   @media only screen and (min-width: 670px) {
   #articlesplashsection {
    width: 100%;
    height: auto;
    background-position: 41% 70px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.grid-item {
  height: 435px;
  /* flex-basis: 20%; */
  flex-basis: 100%;
  width: 250px;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
}



article h1{
  font-size: 2.5rem;
  text-align: left;
}
article strong{
  font-size: larger;
}

article p{
  font-size: 1.5rem;
  line-height: 2rem;
}


.fiveminreadwrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 14%;
    margin-top: 1.7rem;
    margin-left: 0rem;
}



   }

   @media only screen and (min-width: 768px){
.fiveminreadwrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  width: 12%;
  margin-top: 1.7rem;
  margin-left: 0rem;
}

#articlesplashsection {
  width: 100%;
  height: auto;
}
   }

   @media only screen and (min-width: 800px){
.fiveminreadwrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 11%;
    margin-top: 1.7rem;
    margin-left: 0rem;
}

   }

@media only screen and (min-width: 1024px){
.fiveminreadwrapper {
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 9%;
    /* transform: scale(2); */
    margin-top: 2.7rem;
    margin-left: 0rem;
}


article{
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.grid-item {
  height: 600px;
  /* flex-basis: 20%; */
  flex-basis: 100%;
  width: 250px;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
}

#articlesplashsection {
  width: 100%;
  height: auto;
 /*  background-image: url(/img/guitar.png); */
  background-position: 41% 70px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
}

@media only screen and (min-width: 1100px){
#articlesplashsection {
    width: 100%;
    height: auto;
    /* background-image: url(/img/guitar.png); */
    background-position: 41% 70px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
}