html, body{
    margin: 0 auto;
      height: 100%;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
  }


  .link-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: space-between;
    height: 25vh;
  }
  
  #header {
      background: linear-gradient(#4F29F0, rgba(252, 17, 107, 0.5)), url();
      height: 100vh;
      width: 100vw;
      background-size: cover;
      display: flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      margin: 0 auto;
  }
  
  h1, p {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 0.8;
  
  }
  
  h1 {
      font-size: 60pt;
      text-align: center;
      line-height: .2em;
  }
  
  p {
      font-size: 30pt;
      text-align: center;
      line-height: 1em;
  }
  
  a {
    padding: 12px 19px;
    background:transparent;
    color:#fff;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 50px;
    transition: all .3s ease;
    text-decoration: none;
  }
  
  a:hover {
    background: white;
    color: black;  
  }

  .link-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
  }

  @media (max-width: 600px) {
    h1 {
        font-size: 40pt;
      }
    p {
      font-size: 20pt;
      font-weight: 300;
    }
  }
  
  @media (max-width: 364px) {
    h1 {
        font-size: 30pt;
      }
    p {
      font-size: 15pt;
      font-weight: 300;
    }
  }



@media (min-width: 1326px) {
    .link-wrapper{
      display: flex;
      flex-direction: row;
      align-self: center;
      text-align: center;
      justify-content: space-between;
      height: auto;
      width: 40%;
    }
  }

 